// FOCUS VISIBLE
// -----------------------------------------------------------------------------

@use "../settings" as *;

@mixin focus-visible($style) {
  @if ($style == "default") {
    outline: 0;
    box-shadow: 0 0 0 2px $color-white-regular, 0 0 0 5px $color-focal-regular;
  } @else if ($style == "none") {
    outline: 0;
  } @else {
    @error "Invalid visible focus style. Check spelling or review helper definition.";
  }
}
