// FOCUS VISIBLE
// -----------------------------------------------------------------------------

@use "../settings" as *;

@mixin focus-visible($style) {
  @if ($style == "default") {
    border-radius: $border-radius-regular;
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 0 0 1px $color-white-regular, 0 0 0 3px $color-focal-regular;
  } @else if ($style == "alternative") {
    border-color: $color-white-regular;
    outline: 0;
    box-shadow: 0 0 0 3px $color-focal-regular;
  } @else if ($style == "copy") {
    position: relative;
    outline: 0;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: $border-radius-regular;
      box-shadow: inset 0 0 0 1px $color-white-regular, 0 0 0 3px $color-focal-regular;
    }
  } @else if ($style == "none") {
    outline: 0;
  } @else {
    @error "Invalid visible focus style. Check spelling or review helper definition.";
  }
}
